@use '../../scss/' as *;

.nav {
    @include flex(flex-end,flex-end);
    padding: 0 35px;

}

.product-table {
    width: 100%;
    padding: 20px;

    td {
        flex: 1;
    }

    tr {
        margin: 15px;
        @include flex(center, center);
    }

    th {
        font-size: 1.25rem;
        width: 10%;
        text-align: start;
    }

    &__name,
    &__price {
        input {
            padding: 10px;
            width: 100%;
            font-size: 1.2rem;
        }
    }

    &__img {
        @include flex(flex-start, center);

        &__item {
            @include flex(flex-start, center);
            flex-direction: column;
            margin: 0 10px;
            input {
                padding: 10px;
            }
            label {
                margin: 10px 0;
                text-align: start;
            }

            img {
                margin-top: 10px;
                width: 200px;
                height: 200px;
                object-fit: cover;
            }
        }
    }

    &__select {
        select {
            padding: 10px 10px 10px 5px;
        }
    }

    &__description {
        textarea {
            width: 100%;
            padding: 15px;
        }
    }

    &__btn {
        @include flex(flex-start, flex-start);

        button {
            margin: unset;
            margin-right: 15px;
        }
    }
}
